.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    padding: 20px 10px;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100vw;
    height: 80px;
    padding: 10px 20px;
    background-color: rgb(198, 240, 85);
}
.header p {
    font-size: 25px;
    font-weight: bold;
}
.images {
    border-radius: 50%;
}
.backBtn {
    border-radius: 28%;
    background-color: rgb(198, 240, 85);
    padding: 10px;
    color: black;
    font-weight: bolder;
}
