/* Animaciones */

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
    gap: 4rem;
    min-height: 100dvh;
    padding: 20px 10px;
    width: 100%;
}

.bgDiv {
    background: linear-gradient(
        130deg,
        rgb(45, 45, 243),
        rgb(122, 74, 233),
        rgb(255, 0, 170),
        rgb(255, 0, 85)
    );
    background-clip: text;
    transition: background 3s ease;
    width: 75%;
}

.main h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    font-size: 40px;
    font-weight: bold;
    color: transparent;
    animation: zoom-in 1s ease-in-out both;
}
.usersContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
}

.imagesHome {
    border-radius: 50%;
    transition: transform 2s ease-in-out, box-shadow 2s ease-in-out;
}
.imagesHome:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: 0 0 40px 0px rgba(0, 0, 0);
    box-shadow: 0 0 40px 0px rgb(0, 0, 0);
}

/*& Media Queries */
@media (min-width: 768px) {
    .main {
        justify-content: center;
        margin-top: 0;
        padding-top: 0;
    }
    .main h1 {
        justify-content: center;
    }

    .usersContainer {
        width: 60%;
        gap: 5rem;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
@media (min-width: 1024px) {
    .usersContainer {
        width: 80%;
        gap: 5rem;
        flex-direction: row;
    }
}
